* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

button {
  font-size: calc(10px + 2vmin);
}

.img {
  width: 200px;
  height: 20vh;
}

nav {
  margin: 0;
  padding: 0;
  background-color: orangered;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  margin-top: 2%;
}

.nav a:hover {
  border-bottom: 4px solid black;
  color: rgb(110, 0, 0);
}

.cartLogo {
  display: flex;
  position: relative;
}

.counter {
  background-color: red;
  border-radius: 50%;
  text-align: center;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 80%;
  top: 20%;
  left: 80%;
}

.faShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

h1 {
  text-align: center;
}

.logOut {
  background-color: orangered;
  color: white;
  border: none;
  margin-top: 1rem;
}

.logOut:hover {
  cursor: pointer;
  color: rgb(110, 0, 0);
}