.contentContainer {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    /* align-items: center; */
    align-content: center;
    margin-top: 1rem;

}

h1 {
    margin-top: 3rem;
}

.contentContainer p {
    /* text-align: center; */
    width: 50%;
    margin-bottom: 3rem;
}
/* .container {
    background-image: url('../../public/img/background.jpg');
    background-size: cover;
} */