body {
    background-color: #f3f2ef;
}

.links {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
    width: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 90vh;
    margin-top: 1.7rem;
    background-color: #605954;
    padding: 2px;
}

.links a {
    color: white;
    margin-left: 1rem;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.links a:hover {
    border-bottom: 4px solid black;
    color: red;
    margin-left: 2rem;
    transition: 0.4s;
}

.menuH1 {
    margin-top: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
    margin-left: 10%;
}

.menuSection img {
    width: 20rem;
    height: 20rem;
}

.menuSection p {
    text-align: center;
}

.categoryHolder {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 3rem;
}

.menuSection {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
    width: 25rem;
    margin-top: 2rem;
}

.mediumMenuSection {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
    width: 22rem;
}

.smallMenuSection {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
    width: 17rem;
}

.img {
    border-radius: 50%;
}

.imgMedium {
    border-radius: 50%;
    width: 13rem;
    height: 12rem;
}

.imgSmall {
    border-radius: 50%;
    width: 5rem;
    height: 4rem;
}

h1 {
    text-decoration: 2px underline red;
    text-underline-offset: 8px;
}

.h2 {
    background-color: #605954;
    color: white;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 12rem;
    background-color: white;
    z-index: 1;
}

.contentMedium {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
    height: 8rem;
    background-color: white;
    z-index: 1;
}

.contentSmall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 7rem;
    background-color: white;
    z-index: 1;
}

.orderNowBtn {
    background-image: linear-gradient(orangered, #ff4e00);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: .2s ease-in-out 0s;
}

.orderNowBtn:hover {
    transform: scale(1.25);
    font-weight: 500;
}

.spinner {
    margin-left: 48%;
}